@import "dependencies/dependencies";
@import "variables";

//Setup

html, body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: $color-background;
  font-family: $font;
  font-size: $font-size;
  font-weight: $font-regular;
  color: $color-text;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

//Styles

body {
  padding-top: 2em;
  text-align: center;
  font-size: 5em;
}

h1 {
  margin-bottom: 0;
  cursor: default;
}

a {
  font-size: .4em;
  color: fade-out(tomato, .8);
  text-decoration: none;
  @include transition(.5s);

  &:hover {
    color: fade-out(tomato, .5);
  }
}
