@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: #FEF6EB;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFEBD3;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  padding-top: 2em;
  text-align: center;
  font-size: 5em;
}

h1 {
  margin-bottom: 0;
  cursor: default;
}

a {
  font-size: .4em;
  color: rgba(255, 99, 71, 0.2);
  text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

a:hover {
  color: rgba(255, 99, 71, 0.5);
}
